.colorContainer{
  height: 30rem;
  border-radius: 1rem;
  padding:2rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 1.8rem;
  margin: 1rem 0;
}

.desc{
  display: block;
  font-size: 1rem;
}